<h1>Search</h1>

<h2>Search movies by</h2>

<%= search_form(search_movie_path, 'title') %>
<%= search_form(search_year_path, 'year') %>
<%= search_form(search_director_path, 'director name', id: 'director') %>
<%= search_form(search_actor_path, 'actor name', id: 'actor') %>
