<h1>Search movies by</h1>
<br>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= search_form(search_movie_path, 'title') %>
    <%= search_form(search_year_path, 'year') %>
    <%= search_form(search_director_path, 'director name', id: 'director') %>
    <%= search_form(search_actor_path, 'actor name', id: 'actor') %>
  </div>
</div>
