<h2><%= title %></h2>

<% unless @groups.nil? %>
    <% @groups.each do |group, movies| %>
        <%= content_tag :h4, group if group %>
        <table class="table table-striped">
          <%= render partial: 'search/movie', collection: movies %>
        </table>
    <% end %>
<% else %>
    <em>No results</em>
<% end %>
