<h2><%= title %></h2>

<% if !@movies.nil? %>
    <table class="table table-striped">
      <%= render partial: 'search/movie', collection: @movies %>
    </table>
<% else %>
    <p>No results</p>
<% end %>
