<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<div class="row">
  <% @movies.in_groups_of(4, false).each do |movies| %>
    <%= render partial: 'movies/movie', collection: movies %>
    <div class="clearfix visible-md-block visible-lg-block"></div>
  <% end %>
</div>

<br>