// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-card[data-state="liked"] {
   .like-button i {
     @extend .fa-thumbs-up;
     color: $brand-success;
   }
}

.movie-card[data-state="disliked"] {
  .dislike-button i{
    @extend .fa-thumbs-down;
    color: $brand-danger;
  }
}

.movie-card {
  a:hover {
    text-decoration: none;
  }

  .poster-small {
    height: 200px;
  }

  .btn-list-add {
    margin-top: 10px;
  }

  .btn-movie-hide {
    margin-right: 10px;
  }

  .bookmark-button {
    color: $brand-warning;
  }

  h4 {
    font-size: 16px;
  }
}